@import "/src/assets/styles/index.scss";

.select {
    display: block;
    
    &__value {
        @include fontSize("lg");
        display: flex;
        justify-content: space-between;
        padding: getSpace("md");
        font-weight: getFontWeight("bold");
        &::after {
            content: none;
        }
    }

    &__container {
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
        border-bottom: 2px solid getUiColor("gray", 6);
    }

    &__arrow {
        color: getUiColor("green");

        &::before {
            font-weight: getFontWeight("bold") !important;
        }
    }
}
