<div class="select row">
  <div class="col-12">
    <div ngbDropdown class="select__container">
      <span class="select__value" id="dropdownOptions" ngbDropdownToggle>2019 <i class="select__arrow bi bi-chevron-down"></i></span>
      <div class="select__menu" ngbDropdownMenu aria-labelledby="dropdownOptions">
        <button class="select__item" ngbDropdownItem>2018</button>
        <button class="select__item" ngbDropdownItem>2020</button>
        <button class="select__item" ngbDropdownItem>2021</button>
      </div>
    </div>
  </div>
</div>
